@font-face {
    font-family: "CustomFont";
    src: url(Roboto-Medium.ttf);
}

@font-face {
    font-family: "CustomLight";
    src: url(Roboto-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'CustomFont';
}

ul li{
    list-style: none;
}


.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1.4fr 5fr;
}

svg{
    fill: white;
    width: 25px;
    height: auto;
}


/* TOP-PART */

.top-part{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 10px;
}



.search{
    padding-left: 20px;
    justify-content:flex-start;
    align-self: center;
    height: 25px;
    gap: 10px;
    display: flex;
}

.top-part svg{
    fill:black;
    width: 40px;
    height: auto;
    cursor: pointer;
}

.search-part{
    cursor:text;
    width: 100%;
    background-color: #e2e8f0;
    border-radius: 10px;
}

.profile{
    padding-right:10% ;
    justify-content: flex-end;
    align-self: center;
    height: 30px;
    display: flex;
    gap: 20px;
}

.profile .profile-image{
    cursor: pointer;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}



.profile p{
    cursor: pointer;
    font-size: 1.3rem;
    transform: translateY(3px);
}

.hi{
    display: flex;
    padding-left: 5%;
    gap: 10px;
}

.hi .profile-text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    transform: translateY(-yo);
}

.hi .profile-image-again{
    background-color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.hi .profile-text .small{
    font-size: .8rem;
}
.hi .profile-text .big{
    font-size: 1.8rem;
}


.buttons{
    justify-self: flex-end;
    align-self: center;
    padding-right: 5%;
}

.buttons a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    background-color: #099edf;
    padding: 10px 20px;
    border-radius: 25px;
}






/* SIDE-BAR */

.side-bar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color:#099edf;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 1.3rem;
    font-weight: 500;
}

.side-bar > div > ul{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.side-bar > div > ul > li{
display: flex;
gap: 10px;
padding-left: 10%;
cursor: pointer;
}




.logo{
    padding: 5%;
    display: flex;
    gap: 10px;
}
.logo svg{
    width: 40px;
}

.logo h1{ 
    margin-top: 5px;   
    font-weight: 400;
    font-size: 1.5rem;
}








/* MAIN-PART */

.main-part{
    background-color: #e2e8f0;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 5fr;

}

.main-part .your-p{
    padding: 20px;
    font-size: 1.3rem;
    grid-area: 1/1/2/2;

}

.all-cards{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(3, 200px);
    row-gap: 20px;
}

.main-part svg{
    fill: rgb(36, 36, 36);

}

.card{
    padding: 20px 60px 0 20px;
    width: 80%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border-left: 5px solid rgb(255, 181, 111);
    margin: 10px;
    position: relative;
}

.card h1{
    font-family: 'CustomLight';
    font-size: 1.3rem;
}

.card p{
    font-family: 'CustomLight';
    font-size: 1rem;
    color:rgb(116, 116, 116);
    font-weight: 100;
}

.card-buttons{
    display: flex;
    gap: 20px;
    position: absolute;
    right: 25px;
    bottom: 35px;
}

.card-buttons svg{
    cursor: pointer;
}

.right-part{
    grid-column: 2/3;
    grid-row: 1/2;
}
p.an-text{
    font-size: 1.3rem;
    margin-top: 20px;
}

.right-part .an-card{
    margin-top: 5px;
    font-size: .8rem;
    width: 80%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.right-part .an-card p{
color: rgb(70, 70, 70);
}

.right-part .an-card h1{
    font-family: 'CustomLight';
    font-size: 1rem;
}

.right-part .an-card hr{
    margin: 10px 0;
}
